@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  video::-webkit-media-controls-start-playback-button {
    display: none;
  }

  video::-webkit-media-controls,
  video::-moz-media-controls,
  video::-o-media-controls,
  video::-ms-media-controls {
    display: none !important;
  }

  :root {
    --navbar-height: 5.875rem;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --navbar-border: 0 0% 65%;
    --delfim-primary: 0 94% 31%;
    --delfim-primary-transparency: 148 12 0 / 70%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --navbar-border: 0 0% 65%;
    --delfim-primary: 0 94% 31%;
    --delfim-primary-transparency: 148 12 0 / 70%;
  }

  .min-h-d-screen {
    min-height: 100vh;
    min-height: 100svh;
  }

  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .navlink-active {
    @apply text-delfim-primary;
  }

  .card-small {
    @apply w-full sm:w-1/2 xl:w-1/4 grow;
  }

  .card-medium {
    @apply w-full sm:w-1/2 xl:w-[30%] grow;
  }

  .card-large {
    @apply w-full sm:w-1/2 xl:w-[40%] grow;
  }

  .landing-hero-container {
    min-height: calc(100vh - 6.875rem);
    min-height: calc(100svh - 6.875rem);
  }
}

@font-face {
  font-family: "Garet";
  src: url("/fonts/Garet.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FelixTi";
  src: url("/fonts/FelixTi.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
