---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import type { TeamMember } from "@/types/TeamMember";
import { delay } from "@/utils/utils";
import SectionTitle from "../ui/SectionTitle.astro";
import TeamMemberCard from "./TeamMemberCard.astro";

const lang = getLangFromUrl(Astro.url);
const translationContent = useTranslations(lang);
const { title } = translationContent.team;

const builderAPIpublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;

const isProduction = import.meta.env.PROD;

if (isProduction) {
  // Force the delay of request to CMS to wait 45 seconds because CMS takes some seconds to refresh data.
  await delay(45000);
}

const response = await fetch(
  `https://cdn.builder.io/api/v3/content/team-members?apiKey=${builderAPIpublicKey}`,
).then((res) => res.json());

if (!response.results) {
  throw new Error(`Builder.io API error: ${JSON.stringify(response)}`);
}

const teamMembers: TeamMember[] = response.results[0].data.teamMembers;
---

<section id="team" class="min-h-d-screen">
  <section class="p-4 md:hidden">
    <SectionTitle>{title}</SectionTitle>
  </section>

  <article class="w-full flex flex-wrap">
    <div
      class="hidden md:flex bg-delfim-primary h-[26rem] p-12 justify-center card-medium"
    >
      <h3 class="uppercase text-white text-6xl font-title">{title}</h3>
    </div>

    {teamMembers.map((teamMember) => <TeamMemberCard {...teamMember} />)}
  </article>
</section>
